.hidden {
    display: none;
}

.radio_player {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}
.radio_blue:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: blue;
  border: 6px solid blue;
}

.radio_red:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: red;
  border: 6px solid red;
}

.flex_info {
    display:flex;
    flex-direction: row;
    align-items: center;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: green;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white; 
}

#blueSpace{
  width: 100%;
  background-color: rgba(0, 59, 252, 0.74);
  padding-bottom: 20px;
  margin-top: 10px;
}

#redSpace{
  width: 100%;
  background-color: rgba(252, 59, 0, 0.74);
  padding-bottom: 20px;
  margin-top: 10px;
}