.hidden {
    visibility: hidden;
}

.flex_info {
    display:flex;
    flex-direction: row;
    align-items: center;
}

#myProgress {
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 0%;
    height: 30px;
    background-color: green;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
  }